/*-------Arrow-Up-image---------*/

.arrow-up-btn {
    position: fixed;
    top: 88%;
    right: 2%;
    cursor: pointer;
    z-index: 999;
}

/*--------------------------------*/

/*-------Nav-Hover-Effect--------*/

.wp-block-navigation-item__content {
    position: relative;
}

.wp-block-navigation-submenu__toggle {
    display: none !important;
}

.wp-block-navigation-item__content::before {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 0%;
    left: 0;
    height: 2px;
    background-color: #111;
    transition: all 0.4s ease;
}

.wp-block-navigation-item__content:hover:before {
    width: 100%;
}

.navbar {
    border-bottom: 1px solid #eee;
}

/*------------------------------*/

footer {
    margin-top: unset;
    border-top: 1px solid #eee;
}

li {
    list-style: none;
}

.wp-block-post-featured-image:hover {
    opacity: 0.9;
    transition: 0.3s;
}

/*---------Site-Logo-----------*/

.wp-block-site-logo img {
    height: auto;
    max-width: unset;
}

/*------------------------------*/

/*------Search Button----------*/

.wp-block-search__button {
    margin: 0;
    border: 2px solid #111;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.wp-block-search__input {
    margin: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.wp-block-search__button:hover {
    border: 2px solid #111;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

/*--------------------------------*/

/*-------Categories List-----------*/

.cat-item a:hover {
    text-decoration: underline;
}

/*------------------------------*/

/*-------Categories-----------*/

.taxonomy-category a:hover {
    text-decoration: underline;
}

.taxonomy-category::before {
    content: '\f15b';
    font-family: fontawesome;
    padding-right: 10px;
    font-size: 18px;
}




/*------------------------------*/


/*----Guided-Cooking-and-Premium-induction----*/

.guided-cooking-img {
    margin-left: calc(-50vw + 50%) !important;
}

.premium-induction-img {
    margin-right: calc(-50vw + 50%) !important;
}

.premium-induction-section {
    overflow: hidden;
}

/*--------------------------------------------*/

/*---------Responsive----------*/

@media only screen and (max-width:1200px) {
    .premium-induction-column-left {
        padding: 0 1.5rem !important;
    }
}


/*------------------------------*/

/*------Slick-Slider-----------*/

.slick-prev:before,
.slick-next:before {
    color: #111 !important;
    font-size: 30px !important;
    color: white !important;
    background-color: #111;
    padding: 10px;
    border-radius: 40px;
    font-size: 16px !important;
    z-index: 9999;
}

.slick-prev:before {
    content: '\f100' !important;
    font-family: fontawesome !important;
}

.slick-next:before {
    content: '\f101' !important;
    font-family: fontawesome !important;
}

.slick-next {
    top: 13.5rem !important;
    right: 0px !important;
    z-index: 9999;
    opacity: 1;
}

.slick-prev {
    top: 15rem !important;
    left: -1rem !important;
    z-index: 9999;
    opacity: 1;
}

.slider .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slider .slick-active {
    opacity: .5;
}

.slider .slick-current {
    opacity: 1;
}

/*------------------------------*/

/*-------Post-Navigation--------*/

.post-navigation-link-previous a {
    color: #eee;
}

.post-navigation-link-previous a:hover {
    color: #111;
}

.post-navigation-link-next a {
    color: #eee;
}

.post-navigation-link-next a:hover {
    color: #111;
}

.wp-block-post-author-name::before {
    padding-right: 10px;
    content: '\f007';
    font-family: fontawesome;
    font-size: 18px;
}

.wp-block-post-date__modified-date::before {
    padding-right: 5px;
    content: '\f073';
    font-family: fontawesome;
    font-size: 18px;
}

/*------------------------------*/


/*--------Products-items---------*/

.home .products-column {
    margin: 20px;
    border-radius: 5px;
}

.single .products-column {
    margin: 20px;
    border-radius: 5px;
}

.products-column:hover {
    z-index: 1;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.add-to-cart-button {
    border: 2px solid #111;
    border-radius: 10px;
}

.add-to-cart-button:hover {
    border: 2px solid #111;
}

.is-style-fill {
    width: 50%;
}

.single .add-to-cart-button {
    border: 2px solid #111;
    border-radius: 10px;
}

.single .add-to-cart-button:hover {
    border: 2px solid #111;
}

.single .is-style-fill {
    width: 50%;
}


.shop-products-btn {
    border-radius: 10px;
    border: 2px solid #111;
}


.default-sorting {
    font-size: 18px !important;
}


/*---------Shop-products-item-responsive-----*/

@media (max-width: 1100px) {
    .archive .products-block-post-template {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }
}

@media (max-width: 800px) {
    .archive .products-block-post-template {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
}

@media (max-width: 500px) {
    .archive .products-block-post-template {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
}

/*-------Search-results-products-responsive-------*/

@media (max-width: 1100px) {
    .search-results .products-block-post-template {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 800px) {
    .search-results .products-block-post-template {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/*------------------------------*/


/*----------Contact-Form-------*/
.wpcf7-text {
    width: 100%;
    height: 30px;
    padding: 5px;
    font-size: inherit;
}

.wpcf7-textarea {
    width: 100%;
    padding: 5px;
    height: 100px;
    font-size: inherit;
}

.wpcf7-submit {
    background-color: var(--wp--preset--color--primary);
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    color: var(--wp--preset--color--secondary);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 8px;
    text-decoration: none;
}

.wpcf7-submit:hover {
    background: transparent;
    border: 2px solid var(--wp--preset--color--primary);
    color: var(--wp--preset--color--primary);
}

.contact-form:hover {
    z-index: 1;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}


/*------------------------------*/

/*--------Packages-------------*/

.package:hover {
    z-index: 1;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.package-list li::before {
    content: '\f00c';
    font-family: fontawesome;
    padding-right: 5px;
}

.packages-columns {
    display: grid !important;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (max-width: 1000px) {
    .packages-columns {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 600px) {
    .packages-columns {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

/*------------------------------*/

/*--------Shop-now-columns-------*/

.shop-now-link::after {
    content: '\f061';
    font-family: fontawesome;
    padding: 3px 0 0 15px;
}

.shop-now {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.shop-now a:hover {
    color: #111;
}

.shop-now-link:hover::after {
    color: #111;
}

.categories-list li {
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid #a8a8a8;
    height: 35px;
    font-size: clamp(0.625rem, 0.4489rem + 0.7512vw, 1.125rem);
}

.shop-now-btn::after {
    content: '\f061';
    font-family: fontawesome;
    font-size: 25px;
    padding-left: 10px;
    color: #fff;
}

.cat-item-10::before {
    content: '\f7b6';
    font-family: fontawesome;
    padding-right: 5px;
}

.cat-item-18::before {
    content: '\f57b';
    font-family: fontawesome;
    padding-right: 5px;
}

.cat-item-19::before {
    content: '\f2e7';
    font-family: fontawesome;
    padding-right: 5px;
}

.cat-item-20::before {
    content: '\f578';
    font-family: fontawesome;
    padding-right: 5px;
}

.cat-item-17::before {
    content: '\e2eb';
    font-family: fontawesome;
    padding-right: 5px;
}

.cat-item-21::before {
    content: '\f805';
    font-family: fontawesome;
    padding-right: 5px;
}

.cat-item-22::before {
    content: '\f7ef';
    font-family: fontawesome;
    padding-right: 5px;
}

.cat-item-23::before {
    content: '\f5d1';
    font-family: fontawesome;
    padding-right: 5px;
}

.cat-item-1::before {
    content: '\f03a';
    font-family: fontawesome;
    padding-right: 5px;
}

.cat-item-24::before {
    content: '\f787';
    font-family: fontawesome;
    padding-right: 5px;
}

/*------------------------------*/

/*-----Customer-review-columns---*/

.customer-review-columns {
    display: grid !important;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media (max-width: 1000px) {
    .customer-review-columns {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 600px) {
    .customer-review-columns {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

/*------------------------------*/