<!-- wp:template-part {"slug":"header","theme":"Celsius-Cooking","area":"uncategorized"} /-->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"
   style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">

<!-- wp:pattern {"slug":"celsius-cooking-fse/banner"} /-->
<!-- wp:pattern {"slug":"celsius-cooking-fse/about-banner"} /-->
<!-- wp:pattern {"slug":"celsius-cooking-fse/temperature-precise-cooking"} /-->
<!-- wp:pattern {"slug":"celsius-cooking-fse/the-probe"} /-->
<!-- wp:pattern {"slug":"celsius-cooking-fse/guided-cooking"} /-->
<!-- wp:pattern {"slug":"celsius-cooking-fse/premium-induction"} /-->
<!-- wp:pattern {"slug":"celsius-cooking-fse/the-technology"} /-->
<!-- wp:pattern {"slug":"celsius-cooking-fse/cover-img"} /-->
<!-- wp:pattern {"slug":"celsius-cooking-fse/gallery"} /-->
<!-- wp:pattern {"slug":"celsius-cooking-fse/img-link"} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"Celsius-Cooking","area":"uncategorized"} /-->