<!-- wp:template-part {"slug":"header","theme":"Celsius-Cooking","area":"header"} /-->

<!-- wp:cover {"useFeaturedImage":true,"dimRatio":40,"overlayColor":"black","textColor":"secondary","layout":{"type":"constrained"}} -->
<div class="wp-block-cover has-secondary-color has-text-color"><span aria-hidden="true" class="wp-block-cover__background has-black-background-color has-background-dim-40 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"typography":{"fontSize":"45px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
    <div class="wp-block-group" style="font-size:45px"><!-- wp:post-title /--></div>
    <!-- /wp:group --></div></div>
    <!-- /wp:cover -->
    
    <!-- wp:post-content /-->
    
    <!-- wp:template-part {"slug":"footer","theme":"Celsius-Cooking","area":"footer"} /-->